<%= link_to group_path(group), id: "group-card" do %>
<div class="d-flex justify-content-between mb-3 mx-auto card-group">
    <div class="w-25 text-center">
    <span class="fs-1">
    <%= "#{group.icon}".html_safe %>
    <span>
    </div>
    <div class="text-start w-50">
        <h4><%=group.name%></h4>
        <span><%= group.created_at.strftime('%e %B %Y') %></span>
    </div>
    <span class="w-25 text-center">
    $
    <%= group.group_expense %>
    <span>
</div>
<% end %>